#mobile_container{
  padding: 0px;
}


/* Nav Stuff */


#nav_ul li a{
  color:white;
}

.vertical-align-bottom{
  vertical-align: bottom;
}

.navbar-default{
  border-color: transparent;
  background-color: transparent;
  position:absolute;
  padding-top: 15px;
  padding-bottom: 15px;
}

#nav{
  padding-top: 10px;
  position: fixed;
  width: 100vw;
top: 0;
left: 0;
text-align: center;
overflow: hidden;
z-index: 1000;
-webkit-transition: background 0.2s ease-out;
transition: background 0.2s ease-out;
}

#nav_ul{
  float: none;
  text-align: center;
  list-style: none;
  margin:0 auto;
  padding-left: 0px;
  margin-left: -4vw;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

#nav_ul li{
    display: inline-block;
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1em;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav_link{
  width:auto;
  margin-right: 2vw;
}

#nav_ul_logo{
  padding-left: 0px;
}

#nav_ul li a:hover {
    color: #fed136;
    text-decoration: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #fed136;
}

#navbar_collapse{
  background-color: rgb(65, 66, 68);
  color: white;
  padding: 5px;
  margin-top: -9px;
}
#navbar_collapse ul li a{
  color: white;
}

.btn-md{
  color: #fff;
background-color: #fed136;
border-color: #fed136;
border-radius: 3px;
font-size: 18px;
font-weight: 900;
/*padding: 20px 40px;*/
}

/*#nav_ul li a:active {
    color: #fed136;
    text-decoration: none;
}*/

.btn-xl{
  color: #fff;
background-color: #fed136;
border-color: #fed136;
border-radius: 3px;
font-size: 18px;
font-weight: 900;
padding: 20px 40px;
}

/*#nav_center_div{
  display: inline-block;
  margin:auto;
  text-align: center;
}*/

.navbar-custom .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.section{
  min-height: 100vh;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

#welcome_div{
  background-image: url(../img/split_background.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 100vh;
}

#greeting{
  margin-top: 30vh;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 25px;
}

#greeting_call_to_action{
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 50px;
}

.grey_section{
  background-color: #eee;
}

.section_header{
  font-size: 40px;
/*margin-top: 25vh;*/
margin-bottom: 15px;
font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.section_subheader{
  margin-bottom: 75px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: #777;
}

i{
  color: yellow;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

.text-primary, a {
    color: #fed136;
}

td{
  padding: 4px;
}

table{
  margin: auto;
}

.portfolio_item{
  z-index: 2;
  margin-bottom: 20px;
}

.portfolio_link{
  background-color: white;
  display: block;
position: relative;
max-width: 400px;
min-height: 210px;
margin: 0 auto;
}

#portfolio_link_doc2doc{
  background-color: #42A5F5;
}

#portfolio_link_guiltypleasures{
  background-color: black;
}

#portfolio_item_logo_doc2doc{
  padding-top: 20%;
}

.portfolio_caption{
  max-width: 400px;
  min-height: 150px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 25px;
}

.portfolio_hover:hover{
  opacity: 1;
}

.portfolio_hover{
  background: rgba(254, 209, 54, .9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  z-index: 3;
  box-sizing: border-box;
}

.portfolio_hover_content{
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
  z-index: 3;
}

.portfolio_hover_content i{
  color:white;
}

.li_shift{
    margin-right: 10%;
}

.social-buttons{
  width: 100%;
}

#social-buttons i{
  color: #fed136;
}

#contact_div{
  background-image: url(../img/contact.jpeg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 100vh;
}
.form-control{
  padding:30px;
  margin-bottom: 25px;
}

#message{
  height: 236px;
}

.close-modal h1 {
  color: black;
}
.close-modal h1:hover {
  color: yellow;
}

.btn-primary{
  color:white;
  background-color: #fed136;
  border: none;
}
.btn-primary:hover{
  color:white;
  background-color: #fed142;
}
.modal-content{
  width: 80vw;
  margin: auto;
  vertical-align: middle;
}

.modal-body{
  text-align: center;
}

.close-modal{
  position: absolute;
  top:20px;
  right:50px;
}

/* Responsive */
@media (min-width: 768px) {
  #full_nav{
    display: block;
  }
  #mini_nav{
    display: none;
  }
}

@media (max-width: 768px) {
  html,body
  {
    width: 100%;
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  #full_nav{
    display: none;
  }
  #mini_nav{
    display: block;
    background-color: rgb(65, 66, 68);
    margin-top: -10px;
    padding: 8px;
  }
  #greeting_call_to_action{
    font-size: 14vw !important;
    line-height: 8vh !important;
  }
  #greeting{
    margin-top: 0px !important;
  }
  #services_div .col-md-3{
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #message{
    height: 15vh !important;
  }
  .li_shift{
    margin: auto;
    margin-top: 10px;
  }
  #donutchart{
    margin-left: -75px;
  }
}
